# -------------------------
# Node / Angular
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# Go
# -------------------------
*.exe
*.test
*.out
tmp

# -------------------------
# IDEs & OS
# -------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
.env.*
!*.example
